@import url("https://p.typekit.net/p.css?s=1&k=ywa6rkc&ht=tk&f=37148.37150&a=5757810&app=typekit&e=css");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");
// @import url(//db.onlinewebfonts.com/c/344d17417b87d35e88d9df15bea12e2e?family=SFNSDisplay);

@font-face {
  font-family: "all-round-gothic";
  src: url("https://use.typekit.net/af/149b17/00000000000000003b9b376a/27/l?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/149b17/00000000000000003b9b376a/27/d?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/149b17/00000000000000003b9b376a/27/a?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "all-round-gothic";
  src: url("https://use.typekit.net/af/6454e6/00000000000000003b9b376c/27/l?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/6454e6/00000000000000003b9b376c/27/d?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/6454e6/00000000000000003b9b376c/27/a?primer=bd2e7279b8e28728e69eb540b5150ce43e5cd0a473612664c65ebd5f9cd4ea9d&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

.font-all-round-gothic {
  font-family: "all-round-gothic", sans-serif;
}

.font-sfnsd {
  // TODO ADD PROPPER FONT
  // font-family: "SFNSDisplay";
  font-family: "Comfortaa";
}

body {
  font-size: 16px;
  line-height: 28px;
  color: map-get($colors, blue-text);
  font-family: "Comfortaa";

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .font-all-round-gothic;
  }

  small {
    font-size: 88%;
  }

  h1 {
    font-size: 64px * 0.55;
    line-height: 64px * 0.55;
  }

  h2 {
    font-size: 56px * 0.55;
    line-height: 64px * 0.55;
  }

  h3 {
    font-size: 40px * 0.55;
    line-height: 48px * 0.55;
  }

  h4 {
    font-size: 28px * 0.55;
    line-height: 40px * 0.55;
  }

  h5 {
    font-size: 24px * 0.55;
    line-height: 40px * 0.55;
  }

  h6 {
    font-size: 16px;
    line-height: 18px;
  }

  @include breakpoint-md {
    h1 {
      font-size: 64px * 0.75;
      line-height: 64px * 0.75;
    }

    h2 {
      font-size: 56px * 0.75;
      line-height: 64px * 0.75;
    }

    h3 {
      font-size: 40px * 0.8;
      line-height: 48px * 0.8;
    }

    h4 {
      font-size: 28px * 0.8;
      line-height: 40px * 0.8;
    }

    h5 {
      font-size: 24px * 0.8;
      line-height: 40px * 0.8;
    }

    h6 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  @include breakpoint-lg {
    h1 {
      font-size: 64px;
      line-height: 64px;
    }

    h2 {
      font-size: 56px;
      line-height: 64px;
    }

    h3 {
      font-size: 40px;
      line-height: 48px;
    }

    h4 {
      font-size: 28px;
      line-height: 40px;
    }

    h5 {
      font-size: 24px;
      line-height: 40px;
    }

    h6 {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.title,
.large {
  font-size: 18px;
  line-height: 28px;
}

p {
  a {
    color: map-get($colors, blue);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: map-get($colors, gray-medium);

    &:hover {
      color: map-get($colors, blue);
      text-decoration-color: map-get($colors, blue);
    }
  }
}
