$breakpoints: (
  sm: 0,
  md: 650px,
  lg: 1024px,
);

$container-widths: (
  sm: 100%,
  md: 100%,
  lg: 1170px,
);

$gutters: (
  sm: 16px,
  md: 16px,
  lg: 16px,
);

.grid-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@each $breakpoint, $value in $breakpoints {
  @media (min-width: #{$value}) {
    .grid-container {
      @if map-get($container-widths, $breakpoint) == 100% {
        max-width: 100%;
      } @else {
        max-width: map-get($container-widths, $breakpoint) +
          map-get($gutters, $breakpoint) *
          2;
      }

      padding-left: map-get($gutters, $breakpoint);
      padding-right: map-get($gutters, $breakpoint);
    }

    .row-#{$breakpoint}-2 {
      @include grid(2, flex-start, $gutter-horizontal: 0px);
    }

    .row-#{$breakpoint}-2-gutter {
      @include grid(2, flex-start, $gutter-horizontal: 16px);
    }
  }
}

@mixin breakpoint-sm {
  @media (min-width: map-get($breakpoints, sm)) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (min-width: map-get($breakpoints, md)) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (min-width: map-get($breakpoints, lg)) {
    @content;
  }
}
