$colors: (
  white: #ffffff,
  blue: #4432ff,
  blue-text: #4a4764,
  green: #14caff,
  green-dark: #01c3a5,
  dark: #0e0e0e,
  gray-medium: #ececec,
  gray-light: #f4f7f9,
);

@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }

  .bg-#{$color} {
    background-color: $value;
  }
}

$zindex: (
  cookie: 1000,
);

$blocks-max-width: 1680px;
